# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024-2025 Univention GmbH

services:

  # Environment of the pre-commit linter.
  pre-commit:
    profiles:
      - test
    image: gitregistry.knut.univention.de/univention/dev/tooling/pre-commit/upx-pre-commit:latest@sha256:463c8492054d807da3d1ca41dc46ee155ea5f421a941cacf211ab169fce880c9
    volumes:
      - type: bind
        source: .
        target: /code
      - type: volume
        # pre-commit installs dependencies, having them cached speeds things up
        # a lot.
        source: pre-commit-cache
        target: /cache

  test:
    build:
      context: .
      target: test
    image: gitregistry.knut.univention.de/univention/customers/dataport/upx/e2e-tests/e2e-tests-runner:${IMAGE_TAG:-latest}
    environment:
      - RELEASE_NAME=${RELEASE_NAME:-nubus}
      - DEPLOY_NAMESPACE=${DEPLOY_NAMESPACE:?DEPLOY_NAMESPACE must be set}
    volumes:
      - type: bind
        source: ${KUBECONFIG:-~/.kube/config}
        target: /root/.kube/config
        read_only: true
    command: >
      bash -c "RELEASE_NAME=nubus DEPLOY_NAMESPACE=jlohmer source discover-env-from-cluster.sh && pytest -m acceptance_environment -vv -s --log-level=INFO --tracing=retain-on-failure --video=retain-on-failure --output docker-test-results"

volumes:
  pre-commit-cache:
