[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pytest-html = "==4.0.0"
pytest-playwright = "*"
requests = "==2.31.0"
url-normalize = "==1.4.3"
pdbpp = "*"
faker = "==22.1.0"
uritemplate = "==4.1.1"
pytest = "*"
tenacity = "*"
udm-rest-api-client = "*"
pytest-subtests = "*"

[dev-packages]
