[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# Only restrict to specific version ranges if there are incompatibilities.
# Use `pipenv update ...` to update all or individual dependencies in the
# lock file instead.

[requires]
python_version = "3.12"

[packages]
playwright = "*"
pytest-html = "*"
pytest-asyncio = "*"
pytest-playwright = "*"
requests = "*"
url-normalize = "*"
pdbpp = "*"
faker = "*"
uritemplate = "*"
pytest = "*"
tenacity = "*"
udm-rest-api-client = "*"
pytest-subtests = "*"
kubernetes = "*"
ldap3 = "*"
nubus-provisioning-consumer = {ref = "8ee63d0f2eb540309333082943127e6feec7cdf0", git = "https://git.knut.univention.de/univention/dev/projects/provisioning.git", subdirectory = "consumer"}
nubus-provisioning-common = {ref = "8ee63d0f2eb540309333082943127e6feec7cdf0", git = "https://git.knut.univention.de/univention/dev/projects/provisioning.git", subdirectory = "common"}
python-keycloak = "*"
minio = "*"

[dev-packages]
